{% extends 'base.html' %}

{% block content %}
  <h2>パスワード変更</h2>

  <div class="password-change">
    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.old_password.label_tag }} {{ form.old_password }}
        <div style="color: red;">{{ form.old_password.errors }}</div>
      </div>
    
      <div>
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        <div style="color: red;">{{ form.new_password1.errors }}</div>
        <!-- 注意書きを追加 -->
        <ul>
            <p>＜パスワードは次の要件を満たす必要があります＞</p>
            <li>あなたの他の個人情報と関連しているパスワードにはできません。</li>
            <li>パスワードは最低8文字以上必要です。</li>
            <li>よく使われるパスワードにはできません。</li>
            <li>数字だけのパスワードにはできません。</li>
        </ul>
      </div>
    
      <div>
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        <div style="color: red;">{{ form.new_password2.errors }}</div>
      </div>

      <div class="password-change-button">    
        <button type="submit">パスワードを変更する</button>
      </div>
    </form>

    <!-- 戻るボタンを追加 -->
    <a href="{% url 'flick_seeker:mypage' %}" class="button back-button">戻る</a>
  </div>
{% endblock %}
