{% extends 'base.html' %}

{% block content %}
    <h1>新規登録</h1>
    
    <!-- エラーメッセージの表示部分 -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- フォームの定義 -->
    <form method="post" action="{% url 'flick_seeker:signup' %}" class="form-container">
        {% csrf_token %}

        <!-- フォーム全体のエラーメッセージ -->
        {{ form.non_field_errors }}

        <!-- ユーザー名入力 -->
        <label for="id_username">ユーザー名</label>
        {{ form.username }}
        {{ form.username.errors }}

        <!-- メールアドレス入力 -->
        <label for="id_email">Email: 有効なメールアドレスを入力してください。</label>
        {{ form.email }}
        {{ form.email.errors }}

        <!-- パスワード入力 -->
        <label for="id_password1">パスワード:</label>
        {{ form.password1 }}
        <button type="button" id="toggleButton1" onclick="togglePassword('id_password1', 'toggleButton1');">パスワードを表示</button>
        {{ form.password1.errors }}

        <!-- パスワード（確認）入力 -->
        <label for="id_password2">パスワード（確認）:</label>
        {{ form.password2 }}
        <button type="button" id="toggleButton2" onclick="togglePassword('id_password2', 'toggleButton2');">パスワードを表示</button>
        {{ form.password2.errors }}

        <!-- 注意書きを追加 -->
        <div class="password-instructions">
            <p>【パスワードは次の要件を満たす必要があります】</p>
            <ul class="password-requirements">
                <li>あなたの他の個人情報と関連しているパスワードにはできません。</li>
                <li>パスワードは最低8文字以上必要です。</li>
                <li>よく使われるパスワードにはできません。</li>
                <li>数字だけのパスワードにはできません。</li>
            </ul>
        </div>

        <!-- 送信ボタン -->
        <button type="submit" class="button signup-button">登録</button>
    </form>

    <!-- 戻るボタン -->
    <a href="{% url 'flick_seeker:top' %}" class="button back-button">戻る</a>

{% endblock %}

{% block extra_js %}
    <script>
        function togglePassword(inputId, buttonId) {
            var passwordInput = document.getElementById(inputId);
            var toggleBtn = document.getElementById(buttonId);

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleBtn.textContent = 'パスワードを隠す';
            } else {
                passwordInput.type = 'password';
                toggleBtn.textContent = 'パスワードを表示';
            }
        }
    </script>
{% endblock %}